{% extends 'base.html' %}

{% block content %}
    <h1>Crops</h1>
    <ul>
        {% for crop in crops %}
            <li>
                <a href="{% url 'crop_detail' pk=crop.pk %}">{{ crop.name }}</a> ({{ crop.variety }}) - Planted: {{ crop.planting_date }} - Estimated Harvest: {{ crop.estimated_harvest_date }}
                <a href="{% url 'crop_update' pk=crop.pk %}">Edit</a>
                <a href="{% url 'crop_delete' pk=crop.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'crop_add' %}">Add Crop</a>
{% endblock %}
