<nav class="navbar navbar-expand-lg navbar-dark bg-primary-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Coolshawara</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="farmDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Farm
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="farmDropdown">
                        <li><a class="dropdown-item" href="{% url 'crop_list' %}">Crops</a></li>
                        <li><a class="dropdown-item" href="{% url 'livestock_list' %}">Livestock</a></li>
                        <li><a class="dropdown-item" href="{% url 'yield_list' %}">Yield</a></li>
                        <li><a class="dropdown-item" href="{% url 'locations_list' %}">Locations</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="operationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Operations
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="operationsDropdown">
                        <li><a class="dropdown-item" href="{% url 'inventory_item_list' %}">Inventory</a></li>
                        <li><a class="dropdown-item" href="{% url 'timelogs_list' %}">Timelogs</a></li>
                        <li><a class="dropdown-item" href="{% url 'weather_list' %}">Weather</a></li>
                        <li><a class="dropdown-item" href="{% url 'incidents_list' %}">Incidents</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="managementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Management
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="managementDropdown">
                        <li><a class="dropdown-item" href="{% url 'worker_list' %}">Workers</a></li>
                        <li><a class="dropdown-item" href="{% url 'finance_list' %}">Finance</a></li>
                        <li><a class="dropdown-item" href="{% url 'reports_list' %}">Reports</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:settings' %}">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
